/* Caixa do fomulário */
.formulario{
    display: none;

    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -40%);

    background-color: var(--vermelho);
    box-shadow: var(--shadow);
}

.formulario form{
    display:  flex;
    flex-direction: column;
    color: var(--branco);
    padding: 30px;
    gap: 20px;
    width: 500px;
}

.formulario-input input{
    background-color: var(--branco);
    padding: 15px;
    border: none;
}

.formulario-input{
    display: flex;
    flex-direction: column;
}

/* Div para deixar dois inputs lado a lado */
div.formulario-dupla{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* Fomulários que são duplas */
div.formulario-dupla div.formulario-input{
    width: 100%;
}

.formulario button{
    background-color: var(--vermelho);
    padding: 10px 40px;
    border: solid 3px var(--branco);

    color: var(--branco);
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.formulario button:hover{
    transform: scale(1.05);
}

.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Span do formulário */
div.formulario span{
    padding: 5px 0;
    text-align: center;
    border: 1px solid var(--branco);
    border-radius: 10px;
    color: var(--branco);
    transition: 0.3s;
    cursor: pointer;
}

div.formulario span:hover{
    transform: scale(1.05);
    color: var(--vermelho);
    background-color: var(--branco);
}



/* Media query */
@media screen and (max-width: 389px) {
    /* Caixa do fomulário */
    .formulario{
        top: 57%;
    }

    .formulario form{
        padding: 20px;
        width: 330px;
    }

    /* Div para deixar dois inputs lado a lado */
    div.formulario-dupla{
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Caixa do fomulário */
    .formulario{
        top: 57%;
    }

    .formulario form{
        padding: 20px;
        width: 370px;
    }

    /* Div para deixar dois inputs lado a lado */
    div.formulario-dupla{
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Caixa do fomulário */
    .formulario{
        top: 48%;
    }

    .formulario form{
        padding: 20px;
        width: 430px;
    }
    
    /* Div para deixar dois inputs lado a lado */
    div.formulario-dupla{
        display: flex;
        align-items: end;
    }

    /* Fomulários que são duplas */
    div.formulario-dupla div.formulario-input{
        width: 185px;
    }   
}