@import url("base.css");

/* Main */
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px 50px;
}

/* Título da section do serviço */
section.servicos > h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    font-family: var(--montesserat);
    color: var(--vermelho);
}

/* Container englobando todos os cards */
section.servicos > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Card */
div.card{
    width: 400px;

    /* Usei o flex pq estava com um espaçamento entre a img e a div debaixo e eu não estava sabendo o motivo */
    display: flex;
    flex-direction: column;
    
}

div.card-divImg{
    display: flex;
    align-items: center;
    position: relative; /* Faz com que o texto fique "dentro" da img */
    border-radius: 15px 15px 0 0;
    border: 5px solid var(--vermelho);
}

/* Imagem do card */
img.card-img{
    width: 400px;
    height: 450px;
    border-radius: 10px 10px 0 0;
}

img.card-img:hover{
    transition: 300ms;
    filter: brightness(0.45);
}

/* Ao passar o cursos do mouse pela img do card, o texto irá aparecer */
.card-img:hover + .img-textoHover {
    transition: 400ms;
    display: block;
}

/* Texto que aparece apenas com hover */
.img-textoHover{
    position: absolute;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    font-family: var(--montesserat);
    color: var(--branco);
    display: none;
}

/* Informações do card */
div.card-divInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    border: 5px solid var(--vermelho);
    background-color: var(--vermelho);
}

/* Título do card */
h2.card-tituloNormal{
    font-size: 30px;
    font-family: var(--montesserat);
    color: var(--branco);
}

/* Título menor do card (pra poder caber no card e não quebrar) */
h2.card-tituloMenor{
    text-align: center;
    font-size: 25px;
    font-family: var(--montesserat);
    color: var(--branco);
}

/* Linha divisória do serviço */
.card-linhaDivisoria{
    height: 2px;
    width: 250px;
    margin: 5px 0 15px 0;
    background-color: var(--branco);
}

/* Modelo do serviço */
div.card h3{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 20px;
    font-family: var(--montesserat);
    color: var(--cinza);
    background-color: var(--branco);
}

/* Botão Solicitar Orçamento */
.buttons-inicio button{
    background-color: var(--branco);
    margin-top: 30px;
    padding: 10px 20px;
    border: solid 3px var(--vermelho);

    color: var(--vermelho);
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-inicio button:hover{
    background-color: var(--vermelho);
    transform: scale(1.05);
    color: var(--branco);
}


/* Footer */
footer{
    padding: 30px 110px 30px 110px;
    color: var(--branco);
    background-color: var(--vermelho);
}

/* Parte de Cima */
section.parteDeCima{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* Logo + Informaçõe */
div.footer-containerInfo{
    display: flex;
    gap: 90px;
}

/* Logo do footer */
img.footer-img{
    width: 310px;
    height: 70px;
    margin-bottom: 20px;
}

/* Localização, Whatsapp e Localização */
div.footer-infos{
    width: fit-content;
    gap: 5px;
}

i.info-icon{
    font-size: 20px;
}

div.footer-infos span{
    font-size: 20px;
    font-weight: bold;
    font-family: var(--lora);
}

div.footer-infos p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    font-family: var(--lora);
}

/* Link da localização */
div.footer-infos a{
    color: var(--branco);
}

div.footer-infos a:hover{
    text-decoration: underline;
}

/* Linha divisória */
div.footer-linhaDivisoria{
    height: 1px;
    width: 100%;
    margin: 50px 0 25px 0;
    background-color: var(--branco);
}

/* Parte de baixo */
section.parteDeBaixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.parteDeBaixo p, a{
    font-size: 15px;
}

section.parteDeBaixo a{
    color: var(--branco);
}

section.parteDeBaixo a:hover{
    text-decoration: underline;
}

section.parteDeBaixo > div{
    display: flex;
    gap: 20px;
}

section.parteDeBaixo i{
    font-size: 25px;
}

section.parteDeBaixo i:hover{
    transition: 300ms;
    color: var(--azul-pastel);
}