@import url("base.css");

/* Main */
main{
    padding: 80px 110px;
}

/* Container que engloba os textos e a img */
section.container-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* Título do Sobre */
h1.content-h1{
    color: var(--vermelho);
    font-size: 48px;
    font-weight: 600;
    font-family: var(--montesserat);
}

/* Texto sobre Prevent */
p.content-p{
    width: 630px;
    margin: 15px 0 30px 0;
    font-size: 24px;
    font-weight: 200;
    font-family: var(--montesserat);
}

/* Envolve os dados Clientes e Anos de Garantia */
div.container-dados{
    display: flex;
    gap: 90px;
    color: var(--vermelho);
}

/* Número do dado de Clientes e Anos de Garantia */
div.content-dados > h2{
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    font-family: var(--montesserat);
}

/* Nome que se refere o dado de Clientes e Anos de Garantia */
div.content-dados > p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--montesserat);
}

/* Imagem */
section.container-center > img{
    width: 440px;
    height: 465px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}


/* Footer */
footer{
    padding: 30px 110px 30px 110px;
    color: var(--branco);
    background-color: var(--vermelho);
}

/* Parte de Cima */
section.parteDeCima{
    display: flex;
    justify-content: space-between;
}

/* Informações */
div.footer-containerInfo{
    height: 465px;  /* Tem que ter o mesmo height que o iframe */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Logo do footer */
img.footer-img{
    width: 310px;
    height: 70px;
    margin-bottom: 20px;
}

/* Icon da informação */
i.info-icon{
    font-size: 20px;
}

/* Título da informação */
div.footer-infos span{
    font-size: 20px;
    font-weight: bold;
    font-family: var(--lora);
}

/* Texto da informação */
div.footer-infos p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    font-family: var(--lora);
}

/* Link da localização */
div.footer-infos a{
    color: var(--branco);
}

div.footer-infos a:hover{
    text-decoration: underline;
}

/* Título do mapa */
div.mapa > h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    font-family: var(--lora);
}

/* Iframe do mapa */
div.mapa > iframe{
    width: 440px;
    height: 465px;  /* Tem que ter o mesmo height que o .footer-containerInfo */
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Linha divisória */
div.footer-linhaDivisoria{
    height: 1px;
    width: 100%;
    margin: 50px 0 25px 0;
    background-color: var(--branco);
}

/* Parte de baixo */
section.parteDeBaixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Quem desenvolveu o site e os links da parte de baixo do footer */
section.parteDeBaixo p, a{
    font-size: 15px;
}

/* Links da parte de baixo do footer */
section.parteDeBaixo a{
    color: var(--branco);
}

section.parteDeBaixo a:hover{
    text-decoration: underline;
}

/* Container do ícones do Instagram e do Facebook */
section.parteDeBaixo > div{
    display: flex;
    gap: 20px;
}

/* Ícones do Instagram e do Facebook */
section.parteDeBaixo i{
    font-size: 25px;
}

section.parteDeBaixo i:hover{
    transition: 300ms;
    color: var(--azul-pastel);
}



/* Media query */
@media screen and (max-width: 389px) {
    /* Main */
    main{
        padding: 50px 20px;
    }

    /* Container que engloba os textos e a img */
    section.container-center{
        text-align: center;
        flex-direction: column;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 35px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
        font-size: 20px;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        justify-content: center;
        gap: 20px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 35px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 100%;
        height: 425px;
    }


    /* Footer */
    footer{
        padding: 30px 20px;
    }

    /* Parte de Cima */
    section.parteDeCima{
        gap: 50px;
        flex-direction: column;
    }

    /* Contaier que engloba Logo + Informações */
    div.container-logoInformacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Logo do footer */
    img.footer-img{
        width: 250px;
        height: 60px;
        margin-bottom: 40px;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 300px;  /* Tem que ter o mesmo height que o iframe */
        justify-content: space-between;
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 100%;
        height: 300px;  /* Tem que ter o mesmo height que o .footer-containerInfo */
    }

    /* Parte de baixo */
    section.parteDeBaixo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* Container do ícones do Instagram e do Facebook */
    section.parteDeBaixo > div{
        display: flex;
        gap: 50px;
    }

    /* Ícones do Instagram e do Facebook */
    section.parteDeBaixo i{
        font-size: 35px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Main */
    main{
        padding: 50px 40px;
    }

    /* Container que engloba os textos e a img */
    section.container-center{
        text-align: center;
        flex-direction: column;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 40px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        justify-content: center;
        gap: 20px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 45px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 90%;
        height: 425px;
    }
    

    /* Footer */
    footer{
        padding: 30px 20px;
    }

    /* Parte de Cima */
    section.parteDeCima{
        gap: 50px;
        flex-direction: column;
    }

    /* Contaier que engloba Logo + Informações */
    div.container-logoInformacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 300px;  /* Tem que ter o mesmo height que o iframe */
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 100%;
        height: 300px;  /* Tem que ter o mesmo height que o .footer-containerInfo */
    }

    /* Parte de baixo */
    section.parteDeBaixo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* Container do ícones do Instagram e do Facebook */
    section.parteDeBaixo > div{
        display: flex;
        gap: 50px;
    }

    /* Ícones do Instagram e do Facebook */
    section.parteDeBaixo i{
        font-size: 35px;
    }
}

@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Main */
    main{
        padding: 50px 40px;
    }

    /* Container que engloba os textos e a img */
    section.container-center{
        text-align: center;
        flex-direction: column;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 40px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        justify-content: center;
        gap: 50px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 45px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 90%;
        height: 425px;
    }


    /* Footer */
    footer{
        padding: 30px 50px;
    }

    /* Parte de Cima */
    section.parteDeCima{
        gap: 50px;
        flex-direction: column;
    }

    /* Contaier que engloba Logo + Informações */
    div.container-logoInformacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 300px;  /* Tem que ter o mesmo height que o iframe */
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 100%;
        height: 300px;  /* Tem que ter o mesmo height que o .footer-containerInfo */
    }
}

@media only screen and (min-width: 599px) and (max-width: 768px) {
    /* Main */
    main{
        padding: 50px 70px;
    }

    /* Container que engloba os textos e a img */
    section.container-center{
        text-align: center;
        flex-direction: column;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 40px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        justify-content: center;
        gap: 50px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 45px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 90%;
        height: 425px;
    }


    /* Footer */
    footer{
        padding: 30px 50px;
    }

    /* Parte de Cima */
    section.parteDeCima{
        gap: 50px;
        flex-direction: column;
    }

    /* Contaier que engloba Logo + Informações */
    div.container-logoInformacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 300px;  /* Tem que ter o mesmo height que o iframe */
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 100%;
        height: 300px;  /* Tem que ter o mesmo height que o .footer-containerInfo */
    }
}

@media only screen and (min-width: 769px) and (max-width: 848px){
    /* Main */
    main{
        padding: 50px 70px;
    }

    /* Container que engloba os textos e a img */
    section.container-center{
        text-align: center;
        flex-direction: column;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 40px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        justify-content: center;
        gap: 50px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 45px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 80%;
        height: 425px;
    }


    /* Footer */
    footer{
        padding: 30px 40px;
    }

    /* Parte de Cima */
    section.parteDeCima{
        gap: 10PX;
    }

    /* Logo do footer */
    img.footer-img{
        width: 250px;
        height: 60px;
        margin-bottom: 28px;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 425px; /* Tem que ter o mesmo height que o iframe */
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 350px;
        height: 425px; /* Tem que ter o mesmo height que o .footer-containerInfo */
    }
}

@media only screen and (min-width: 849px) and (max-width: 1098px) {
    /* Main */
    main{
        padding: 50px 70px;
    }

    /* Título do Sobre */
    h1.content-h1{
        font-size: 40px;
    }

    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        gap: 50px;
    }

    /* Número do dado de Clientes e Anos de Garantia */
    div.content-dados > h2{
        font-size: 45px;
    }

    /* Nome que se refere o dado de Clientes e Anos de Garantia */
    div.content-dados > p{
        font-size: 20px;
    }

    /* Imagem */
    section.container-center > img{
        width: 45%;
        height: 425px;
    }


    /* Footer */
    footer{
        padding: 30px 40px;
    }

    /* Informações */
    div.footer-containerInfo{
        height: 425px; /* Tem que ter o mesmo height que o iframe */
    }

    /* Iframe do mapa */
    div.mapa > iframe{
        width: 350px;
        height: 425px; /* Tem que ter o mesmo height que o .footer-containerInfo */
    }
}

@media only screen and (min-width: 1099px) and (max-width: 1280px){
    /* Texto sobre Prevent */
    p.content-p{
        width: 95%;
    }

    /* Envolve os dados Clientes e Anos de Garantia */
    div.container-dados{
        gap: 50px;
    }

    /* Imagem */
    section.container-center > img{
        width: 400px;
        height: 425px;
    }
}